
@{
    ViewBag.Title = "AddRecipe";
}
<script src="~/KOScripts/Recipe.js"></script>
<h2>AddRecipe</h2>

<body>
	<h3>Editing Recipe <strong data-bind="text:name"></strong>
	</h3>
	<div class=" col-md-4">
		<div class="form-group">
			<label>Name:</label>
			<input type="text" class="form-control" data-bind="textInput: name"/>
		</div>
		<div class="form-group">
			<label>Category:</label>
			<select class="form-control" data-bind="options: recipeCategories, optionsText: 'recipeCategory'"></select>
		</div>
		<div class="form-group">
			<label>Serves:</label>
			<input type="text" class="form-control" data-bind="textInput: serves"/>
		</div>
	</div>
	<div class=" col-md-4">
		<div class="form-group">
			<label>Prep Time:</label>
			<input type="text" class="form-control" data-bind="textInput: prepTime"/>
		</div>
		<div class="form-group">
			<label>Cook Time:</label>
			<input type="text" class="form-control" data-bind="textInput: cookTime"/>
		</div>
	</div>
	<br/>
	<table>
		<tbody data-bind="foreach: ingredients">
			<tr>
				<td>
					<input data-bind='value:food' />
				</td>
				<td>
					<strong data-bind='text:amount'></strong>
				</td>
			</tr>
		</tbody>
		
	</table>
	<div class="col-md-12">
		<div class="form-group">
			<label>Food:</label>
			<input id="foodSearch" type="text" class="form-control" data-bind="textInput:food" />
		</div>
		<div class="form-group">
			<label>Amount:</label>
			<input class="form-control" type="text" data-bind="textInput:amount" />
		</div>
		<input type="button" class="btn btn-green" value ="Add" data-bind="click:addIngredient"/>
	</div>
	<div class="clearfix"></div>
</body>