
@{
    ViewBag.Title = "AddRecipe";
}
<script src="~/KOScripts/Recipe.js"></script>
<h2>AddRecipe</h2>

<body>
	<h3>Editing Recipe <strong data-bind="text:name"></strong>
	</h3>
	<div class=" col-md-4">
		<div class="form-group">
			<label>Name:</label>
			<input type="text" class="form-control" data-bind="textInput: name"/>
		</div>
		<div class="form-group">
			<label>Category:</label>
			<select class="form-control" data-bind="options: recipeCategories, optionsText: 'recipeCategory'"></select>
		</div>
		<div class="form-group">
			<label>Serves:</label>
			<input type="text" class="form-control" data-bind="textInput: serves"/>
		</div>
	</div>
	<div class=" col-md-4">
		<div class="form-group">
			<label>Prep Time:</label>
			<input type="text" class="form-control" data-bind="textInput: prepTime"/>
		</div>
		<div class="form-group">
			<label>Cook Time:</label>
			<input type="text" class="form-control" data-bind="textInput: cookTime"/>
		</div>
	</div>
	<br/>

	<div class="col-md-12">
		<div class="well">
			<div class="form-inline">
				<label>Food:</label>
				<input id="foodSearch" type="text" class="form-control" data-bind="textInput:food"/>
				<label>Amount:</label>
				<input class="form-control" type="text" data-bind="textInput:amount"/>
				<a href="#" class="btn btn-green" data-bind="click:addIngredient">
					<i class="fa fa-lg fa-plus"></i>
				</a>
				@*<input type="button" class="btn btn-green" data-bind="click:addIngredient" />*@
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<ul class="list-group" data-bind="foreach: ingredients">
			<li class=" list-group-item" data-bind="click:$parent.removeIngredient">
				<h4 class="" data-bind="text:formated"></h4>
				@*<a href="#" class="btn btn-red pull-right" data-bind="click:$parent.removeIngredient">Remove</a>*@
			</li>

		</ul>
	</div>

	<div class="col-md-12">
		<div class="well">
			<div class="form-inline">
				<label>Instruction:</label>
				<textarea type="text" class="form-control" data-bind="textInput:step"></textarea>
				<a href="#" class="btn btn-green" data-bind="click:addStep">
					<i class="fa fa-lg fa-plus"></i>
				</a>
				@*<input type="button" class="btn btn-green" data-bind="click:addIngredient" />*@
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<ul class="list-group" data-bind="foreach: instructions">
			<li class=" list-group-item" data-bind="click:$parent.removeStep">
				<p>
					<span data-bind="text:($index()+1)"></span><span>. </span><p class="" data-bind="text:narrative"></p>
				</p>@*<a href="#" class="btn btn-red pull-right" data-bind="click:$parent.removeIngredient">Remove</a>*@
			</li>

		</ul>
	</div>
	<a href="#" class="btn btn-green" data-bind=" click:saveRecipe">save</a>
	<div class="clearfix"></div>
</body>

@section scripts{
<script type="text/javascript">
	$(function () {
		ko.applyBindings(new recipeVm());
	});
</script>
}