
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width"/>
	<title>View</title>
</head>
@Scripts.Render("~/Controllers/User.js")
<body>
<div>
	<p data-bind="text:user"></p>
</div>
</body>
</html>
