
<head>
	<meta name="viewport" content="width=device-width"/>
	<title>View</title>
</head>
@Scripts.Render("~/KOScripts/Profile.js")
@*<script src="~/Controllers/User.js"></script>*@
<body>
<h1>Profile for <span data-bind="text:fullName"></span></h1>
	<a class="btn btn-green "href='@Url.Action("AddRecipe", "Recipe")'>Add Recipe</a>
	<a class="btn btn-green " href='@Url.Action("AddEditGroups", "Group")'>Manage Groups</a>

</body>


