@using Microsoft.AspNet.Identity
@model RecipeShare.Models.ProfileViewModel
@{
	var userId = Convert.ToInt32(User.Identity.GetUserId());			  
}

<head>
	<meta name="viewport" content="width=device-width"/>
	<title>View</title>
</head>
@Scripts.Render("~/KOScripts/Profile.js")
@Scripts.Render("~/KOScripts/Recipe.js")
@*<script src="~/Controllers/User.js"></script>*@
<body>
	<h1>Profile for <span data-bind="text:fullName"></span></h1>
	<a class="btn btn-green "href='@Url.Action("AddRecipe", "Recipe")'>Add Recipe</a>
	<a class="btn btn-green " href='@Url.Action("AddEditGroups", "Group")'>Add Group</a>
	<h1>Recipes</h1>
	<br/>
	<table id="recipes">
		<thead>
		<tr>
			<th>Name</th>
			<th>Prep Time</th>
			<th>Cook Time</th>
			<th>Serves</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		</tbody>
	</table>

	<h1>Groups</h1>
	<br/>
	<table id="groups">
		<thead>
			<tr>
				<th>Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>

</body>

@section Scripts{
	<script type="text/javascript">
		$(function() {
			$.ajax({
				type: "POST",
				url: '/Profile/GetRecipesForUser',
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function (data) {
					$('#recipes').dataTable({
						
						"data": data,
						"columns": [
						{"data" : "Name", "searchable": true },
						//{ "data": "RecipeCategory" },
						{ "data": "PrepTimeMinutes" },
						{ "data": "CookTimeMinutes" },
						{ "data": "Serves" },
						{ "width": "150px", "searchable": false, "sortable": false }
						],
						"aoColumnDefs": [
							{
								"aTargets": [4],
								"mData": null,
								"mRender": function (data, type, full) {
									return "<a class='btn btn-orange' href=/Recipe/EditRecipe/" + data.Id + " style='margin-right:15px'><i class='fa fa-pencil fa-2x'></i></a><a class='btn btn-lblue' href=/Recipe/ViewRecipe/" + data.Id + "><i class='fa fa-eye fa-2x'></i></a>";
								}
							}
						]

					});
				},

				error: function (err) {
					//alert(err.status + " - " + err.statusText);
				}
			});
			$.ajax({
				type: "POST",
				url: '/Profile/GetGroupsForUser',
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function (data) {
					$('#groups').dataTable({

						"data": data,
						"columns": [
						{ "data": "Name" }
						],
						"aoColumnDefs": [
							{
								"aTargets": [1],
								"mData": null,
								"mRender": function (data, type, full) {
									return "<a class='btn btn-orange' href=/Group/EditGroups/" + data.Id + "  style='margin-right:15px'><i class='fa fa-pencil fa-2x'></i></a>";
								}
							}
						]

					});
				},

				error: function (err) {
					//alert(err.status + " - " + err.statusText);
				}
			});
		})
	</script>
}


